.non-existant{
    padding: 0%;
    margin: 0%;
}

.background-clear{
    background-color: transparent;
}

.page-background{
    background-image: url(./media/piano.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.default_style{
    width: 100%;
    background-color: rgb(182, 182, 182);
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

button:hover{
    cursor: pointer;
}

.nav_bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 100vw;
    margin: 0%;
    background: 
    linear-gradient(217deg, rgba(255, 2, 2, 0.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(89, 0, 255, 0.8), rgb(0, 179, 155) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgb(255, 6, 159) 70.71%);;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.nav_item{
    color: white;
    font-size: x-large;
}

.CreateNewSongBlock{
    display: flex;
    justify-content: center;
    align-items: right;
}

.likebtn{
    width: 4rem;
}

th{
    color: rgb(129, 131, 253);
    text-shadow: #f9f9f9;
    letter-spacing: .1rem;
    font-size: 22px;
    max-width: 9rem;
    min-width: 7rem;
}

td{
    color: white;
    text-align: center;
}

.actual-table-head{
    background-color: rgba(0, 0, 0, 0.74);
}

.actual-table{
    background-color: rgba(0, 0, 0, 0.534);
}

.footer{
    width: 100%;
    height: 4rem;
    margin-top: 6rem;
    background: linear-gradient(rgb(0, 0, 61), rgb(10, 0, 145));
}

.add-new-song-form{
    margin: 1rem;
    padding: .5rem;
    width: 20rem;
    height: auto;
    display: flex;
    justify-items: right;
    flex-direction: column;
    align-items: center;
    background-color: rgba(82, 85, 247, 0.651);
    color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 1px;
}

.add-new-song-form label{
    color: rgb(133, 245, 245);
    display: flex;
    justify-content: center;
}

.add-new-header{
    display: flex;
    justify-content: center;
    align-self: center;
}

.modalBackground{
    width: 100%;
    height: 100vh;
    background-color: rgba(26, 2, 31, 0.753);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer{
    background-color: rgb(0, 98, 209);
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    box-shadow: .5rem .5rem .5rem .1rem rgba(0, 0, 0, 0.086);
    display: flex;
    flex-direction: column;
    padding: 20px
}
.submitBtn{
    border: transparent;
    border-radius: 3px;
    background-color: rgba(47, 255, 134, 0.616);
    width: 100%;
    margin: .1rem;
}

.submitBtn:hover{
    background-color: rgb(46, 255, 133);
}

.cancelBtn{
    border: transparent;
    border-radius: 3px;
    background-color: rgba(255, 89, 47, 0.616);
    width: 100%;
    margin: .1rem;
}

.cancelBtn:hover{
    background-color: rgb(204, 62, 26);
}

.input-fields{
    display: grid;
    justify-items: right;
}

.table{
    display: flex;
    justify-content: center;
    align-items: center;
}

.liked{
    background-color: rgb(0, 197, 0);
    border-radius: 5px;
    width: 5rem;
    min-width: fit-content;
}

.disliked{
    background-color: rgb(184, 184, 184);
    border-radius: 5px;
    width: 5rem;
    min-width: fit-content;
}



.filter-and-modal{
    display: flex;

}

.reset-btn{
    background-color: #0258a8;
    color: white;
    width: 6rem;
    height: 2.75rem; 
    padding: auto;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.reset-btn:hover{
    background-color: #013d75;
}

/*Styles for dropdown for filter*/
.dropbtn {
    background-color: #007bee;
    color: white;
    width: 6rem;
    height: 2.75rem; 
    padding: auto;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: fit-content;
    width: 2rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content button {
    width: 6rem;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content button:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #304ef8;
}
/*End of Styles for dropdown for filter*/